* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Coda";
}

.dropdown-menu {
  min-width: 0;
}

.sidebar {
  background-color: blanchedalmond;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
